<!-- <div class="container">
	<div class="col-xs-12 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Search here for centre</h3>
			</div>
			<div class="panel-body">
				<div>
					<ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback2($event)"></ng4geo-autocomplete>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="col-xs-12 col-md-6">
  	<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Search here for centre</h3>
		  </div>
		  <div class="panel-body">
		  	<div>
		    	<ng4geo-autocomplete [userSettings]="userSettings2" (componentCallback)="autoCompleteCallback2($event)"></ng4geo-autocomplete>
		    </div>
		  </div>
		</div>
  </div>